.phoneBook-container {
  text-align: center;
}

.phoneBook-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.contactForm-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 300px;
}

input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

input[type="checkbox"] {
  width: 16px;
  height: 14px;
  margin-top: 20px;
}

button {
  padding: 10px;
  background-color: rgb(53, 37, 200);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 15px;
}

.contactList-container {
  border-left: 2px solid #e2e2e2;
  padding-left: 45px;
  text-align: left;
}

.contactList-wrap {
  border-top: 1px solid rgb(182, 182, 182);
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

.contactList-actions {
  text-align: right;
}

.contactList-actions button {
  margin-top: 10px;
  margin-left: 10px;
  width: 65px;
  background-color: #eee;
  color: black;
}

.contactList-actions button:hover {
  background-color: #d8d7d7;
}

.contactList-actions button:focus {
  background-color: #d8d7d7;
}

.contactSearch-wrap {
  padding-bottom: 20px;
}

.contactSearch-wrap input {
  width: 230px;
}

.contactSearch-wrap button {
  margin-left: 10px;
  background-color: rgb(194, 0, 0);
  color: white;
}

@media screen and (max-width: 767px) {
  .contactList-container {
    border-left: none;
    border-top: 2px solid #e2e2e2;
    padding-left: 0px;
  }
  .contactSearch-wrap {
    margin-top: 10px;
  }
  .contactSearch-wrap input {
    width: 195px;
  }
  .contactSearch-wrap {
    padding-bottom: 10px;
  }
}
